.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;    
}
.place-order-left{
    width: 100%;
    max-width: max(30%,500px);
}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}
.place-order-left .multi-feilds{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 100%;
    max-width: max(40%,500px);
}
.place-order .cart-total button{
    margin-top: 30px;
}
.cart-total{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
    font-size: 16px;
}
.cart-total h2{
    font-size: 24px;
    font-weight: bold;
    color: #555;
}
.cart-total button{
    margin-top: 20px;
    border: none;
    color: white;
    background-color: tomato;
    width: 100%;
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
 
@media (max-width: 768px) {
    .place-order{
        flex-direction: column;
        gap: 30px;
    }
    .place-order-left, .place-order-right{
        max-width: 100px;
    }
    .cart-total-details{
        font-size: 14px;
    }
    .cart-total button{
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .place-order{
       padding: 10px;
    }
    .place-order-left .title{
        font-size: 24px;
    }
    .cart-total-details{
        font-size: 12px;
    }
    .cart-total button{
        font-size: 12px;
        padding: 10px 0px;
    }
}